#
# Configuration file for the Xen instance {$hostname}, created
# by xen-tools {$xen_tools_version} on { scalar localtime }.
#

#
#  Kernel + memory size
#
{ if ( ( $kernel ) && ( !defined($pygrub)) )
  {
    $OUT .= "kernel      = '$kernel'\n";
  }
}
{ if ( ( $initrd ) && ( !defined($pygrub)) )
  {
    $OUT.= "ramdisk     = '$initrd'";
  }
}
{
  if ( $pygrub )
  {
    $OUT .= "bootloader = 'pygrub'\n";
  }
}
vcpus       = '{$vcpus}'
memory      = '{$memory}'
{ if ( $maxmem )
  {
    $OUT .= "maxmem      = '$maxmem'\n";
  }
}
type      = '{$type}'

#
#  Disk device(s).
#
{
  if ( !defined($image_vbd ) )
  {
    $OUT .= "disk        = [\n";
    for ( my $i = $#PARTITIONS; $i >= 0 ; $i-- )
    {
       if ( $PARTITIONS[$i]{'mountpoint'} eq '/' )
       {
           $OUT .= "                  'vdev=$PARTITIONS[$i]{'vdev'}, target=$PARTITIONS[$i]{'image'}',\n";
       }
    }
    for ( my $i = $#PARTITIONS; $i >= 0 ; $i-- )
    {
       if ( $PARTITIONS[$i]{'mountpoint'} ne '/' )
       {
           $OUT .= "                  'vdev=$PARTITIONS[$i]{'vdev'}, target=$PARTITIONS[$i]{'image'}',\n";
       }
    }
    $OUT .= "              ]\n";
  }
}

#
#  Hostname
#
name        = '{$hostname}'

#
#  Networking
#
{ if ( $dhcp )
  {
    $OUT .= "dhcp        = 'dhcp'\n";

    # Setup the mac address, if present.
    my $m = '';
    if ( $mac )
    {
      $m = "mac=$mac"
    }
    my $br = '';
    if ( $bridge )
    {
      if ( $mac )
      {
        $br = ",bridge=$bridge"
      }
      else
      {
        $br = "bridge=$bridge"
      }
    }
    $OUT .= "vif         = [ '";
    $OUT .= "$m";
    $OUT .= "$br";
    $OUT .= "' ]";
  }
  else
  {
    #
    # Setup the mac address, if present.
    #
    my $m = '';
    if ( $mac )
    {
      $m = ",mac=$mac"
    }

    my $vn = '';
    if ( $vifname )
    {
      $vn = ",vifname=$vifname";
    }

    my $br = '';
    if ( $bridge )
    {
      $br = ",bridge=$bridge"
    }

    my $vl = '';
    if ( $vlan )
    {
      $vl = ".$vlan"
    }

    $OUT .= "vif         = [ 'ip=$ips";
    $OUT .= "$m";
    $OUT .= "$vn";
    $OUT .= "$br";
    $OUT .= "' ]";
  }
}

#
#  Behaviour
#
#on_poweroff = 'destroy'
#on_reboot   = 'restart'
#on_crash    = 'restart'


{ if ( $admins )
  {
    $OUT .= "xen_shell = '$admins'\n";
  }
}
